<!-- views/invoice.ejs -->

<html>

<head>
    <title>Order Invoice</title>
</head>

<body>
    <h1>Order Invoice</h1>
    <p>Order ID: <%= orderId %>
    </p>
    <p>Product: <%= product %>
    </p>
    <p>Total Amount: <%= totalAmount %>
    </p>
</body>

</html>
